:root {
    --width: 100%;
    --bg: #283044;
    --bg-panel: #36405a;
    --headings: #afd8f1;
    --text: #f5f6f7;
}

body {
    margin: 0;
    font-family: 'Segoe UI';
    background-color: var(--bg);
}

h1,
h2,
h3,
p {
    margin: 0;
}

#container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50px auto 1fr 50px;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

#header {
    grid-column: 1/-1;
    text-align: center;
    padding: 60px 50px 50px 50px;
    color: var(--text);
}

#header h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

#sidebar {
    grid-column: 2;
    padding: 30px;
    background-color: var(--bg-panel);
}

#sidebar ul {
    padding: 0;
}

#sidebar h2 {
    margin: 20px 0;
    color: var(--headings);
}

#sidebar > div.sticky {
    top: 30px;
    position: sticky;
}

#sidebar div.menu {
    overflow: hidden;
    color: var(--text);
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#sidebar div.menu:not(.active) {
    max-height: 0;
}

#sidebar li {
    list-style-type: none;
    margin: 15px;
    cursor: pointer;
    width: fit-content;
}

#sidebar li:not(.active):hover {
    text-decoration: underline;
}

#sidebar button {
    display: block;
    margin: 10px 0;
    background-color: transparent;
    border: 2px solid var(--text);
    color: var(--text);
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.25s, background-color 0.25s;
}

#sidebar button:hover {
    border: 2px solid var(--headings);
    color: var(--headings);
}

#main {
    padding: 0px 0px 25px 50px;
}

.family {
    background-color: var(--bg-panel);
    padding: 20px 40px 10px 40px;
    margin: 25px 0;
    user-select: none;
}

.family h3 {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    color: var(--headings);
    margin: 20px 0 30px 0;
}

.family > input[type='checkbox'] {
    display: none;
}

.specs {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.specs > div {
    position: relative;
    margin: 10px;
    padding: 20px;
    background-color: var(--bg);
    width: max(calc(var(--width) - 6px), 200px);
    border: 3px solid transparent;
    border-radius: 7.5px;
}

.specs > div.clickable {
    cursor: pointer;
}

.specs > div.unmissable {
    border: 3px solid rgb(197, 57, 57);
    cursor: not-allowed;
}

.specs i {
    display: inline-block;
    font-style: normal;
    color: var(--text);
    padding: 5px 10px;
    background-color: rgb(36, 131, 36);
    margin: 5px 15px 5px 0;
    width: fit-content;
    font-size: 14px;
    border-radius: 5px;
}

.specs > div.unmissable i:nth-child(1) {
    background-color: rgb(197, 57, 57) !important;
}

.specs p {
    padding-top: 7.5px;
    font-size: 15px;
    color: var(--text);
}

.specs span {
    position: absolute;
    left: calc(100% - 5px);
    top: 5px;
    height: 25px;
    width: 25px;
    background-color: var(--headings);
    transform: translate(-50%, -50%);
    border-radius: 25%;
    cursor: pointer;
}

.specs span::before,
.specs span::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 15px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    background-color: var(--bg-panel);
}

.specs span::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.specs span::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

li.active {
    font-weight: bold;
    color: var(--headings);
}

.border {
    border: 3px solid var(--headings) !important;
}

.phase {
    color: var(--bg);
}

.phase h3 {
    color: var(--text);
}

.phase {
    padding-bottom: 20px;
    page-break-inside: avoid;
}

.phase:nth-of-type(1) ul li {
    background-color: hsl(10, 97%, 77%);
}

.phase:nth-of-type(2) ul li {
    background-color: hsl(30, 85%, 75%);
}

.phase:nth-of-type(3) ul li {
    background: hsl(50, 95%, 75%);
}

.phase:nth-of-type(4) ul li {
    background: hsl(70, 100%, 75%);
}

.phase:nth-of-type(5) ul li {
    background: hsl(90, 95%, 76%);
}

.phase:nth-of-type(6) ul li {
    background: hsl(130, 95%, 75%);
}

.phase:nth-of-type(7) ul li {
    background: hsl(149, 95%, 77%);
}

.phase:nth-of-type(8) ul li {
    background: hsl(176, 100%, 78%);
}

.phase:nth-of-type(9) ul li {
    background: hsl(204, 97%, 77%);
}

.phase:nth-of-type(10) ul li {
    background: hsl(224, 100%, 81%);
}

#phase p {
    margin: 0;
}

li {
    margin: 0px 40px 10px 0px;
    display: flex;
    padding: 5px;
    border: solid 1px black;
    border-radius: 2px;
}

.underline {
    text-decoration: underline;
}

p {
    display: inline;
    padding: 2px;
}

.box {
    margin-right: 5px !important;
    border: solid 1px black;
    border-radius: 2px;
}

#footer {
    grid-column: 1/-1;
    margin-top: 50px;
    padding: 30px 0;
    color: var(--headings);
    font-size: 15px;
    background-color: #23293a;
    text-align: center;
}

#footer a {
    color: var(--headings);
}

#footer > * {
    margin: 10px;
}

#display {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#display p {
    margin-right: 10px;
}

#i_blocs,
#i_lines {
    background-color: var(--text);
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    transition: background-color 0.25s;
    cursor: pointer;
}

#i_blocs:hover,
#i_lines:hover {
    background-color: var(--headings);
}

#i_blocs::before,
#i_blocs::after {
    position: absolute;
    content: '';
    background-color: var(--bg);
    height: 3px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#i_blocs::after {
    transform: translateY(-50%) rotate(90deg);
}

#i_lines::after,
#i_lines::before {
    position: absolute;
    content: '';
    background-color: var(--bg);
    height: 4px;
    width: 100%;
    left: 0;
}

#i_lines::before {
    bottom: 12px;
}

#i_lines::after {
    bottom: 4px;
}
