:root {
    --width: 100%;
    --bg: #283044;
    --bg-panel: #36405a;
    --headings: #afd8f1;
    --text: #d7e9ee;
}

body {
    margin: 0;
    font-family: 'Segoe UI';
    background-color: var(--bg);
}

h1,
h2,
p {
    margin: 0;
}

#container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50px auto 1fr 50px;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

#header {
    background-color: var(--headings);
    grid-column: 1/-1;
    text-align: center;
    padding: 20px;
}

#header h1 {
    margin-bottom: 15px;
}

#sidebar {
    grid-column: 2;
    padding: 30px;
    background-color: var(--bg-panel);
    color: var(--headings);
}

#sidebar ul {
    padding: 0;
}

#sidebar h2 {
    margin-bottom: 20px;
}

#sidebar > div.sticky {
    top: 30px;
    position: sticky;
}

#sidebar div.menu {
    overflow: hidden;
    transition: max-height 0.5s;
}

#sidebar div.menu:not(.active) {
    max-height: 0;
}

#sidebar li {
    list-style-type: none;
    margin: 15px;
    cursor: pointer;
    width: fit-content;
}

#sidebar > li:hover {
    text-decoration: underline;
}

#sidebar button {
    display: block;
    margin: 20px 0;
}

#main {
    padding: 25px 0px 25px 50px;
}

.family {
    background-color: var(--bg-panel);
    padding: 30px 40px;
    margin: 25px 0;
    user-select: none;
}

.family h3 {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    color: var(--headings);
}

.family > input[type='checkbox'] {
    display: none;
}

.specs {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.specs > div {
    position: relative;
    margin: 10px;
    padding: 20px;
    background-color: var(--bg);
    width: max(calc(var(--width) - 6px), 200px);
    border: 3px solid transparent;
    border-radius: 7.5px;
}

.specs > div.clickable {
    cursor: pointer;
}

.specs > div.unmissable {
    border: 3px solid rgb(197, 57, 57);
    cursor: not-allowed;
}

.specs i {
    display: block;
    font-style: normal;
    color: var(--text);
    padding: 5px;
    background-color: green;
    margin: 5px 5px 5px 0;
    width: fit-content;
    font-size: 14px;
    border-radius: 5px;
}

.specs p {
    font-size: 14px;
    color: var(--text);
}

.specs span {
    position: absolute;
    left: calc(100% - 5px);
    top: 5px;
    height: 25px;
    width: 25px;
    background-color: var(--headings);
    transform: translate(-50%, -50%);
    border-radius: 25%;
    cursor: pointer;
}

.specs span::before,
.specs span::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 15px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    background-color: var(--bg-panel);
}

.specs span::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.specs span::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

li.active {
    text-decoration: underline;
}

.border {
    border: 3px solid var(--headings) !important;
}

#footer {
    background-color: var(--headings);
    grid-column: 1/-1;
    padding: 50px;
    display: flex;
    justify-content: center;
}

#footer a {
    color: var(--bg);
}

#footer > * {
    margin: 0 100px;
}

#display {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#display p {
    margin-right: 10px;
}

#i_blocs,
#i_lines {
    background-color: var(--bg);
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    transition: background-color 0.25s;
    cursor: pointer;
}

#i_blocs:hover,
#i_lines:hover {
    background-color: var(--bg-panel);
}

#i_blocs::before,
#i_blocs::after {
    position: absolute;
    content: '';
    background-color: var(--headings);
    height: 3px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#i_blocs::after {
    transform: translateY(-50%) rotate(90deg);
}

#i_lines::after,
#i_lines::before {
    position: absolute;
    content: '';
    background-color: var(--headings);
    height: 4px;
    width: 100%;
    left: 0;
}

#i_lines::before {
    bottom: 12px;
}

#i_lines::after {
    bottom: 4px;
}
